<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <script type="text/javascript">

            function callcall() {

                var raw_number = $("#number").val();
                var regex1 = /^[2-9](\d{6}|\d{9})$/
                if (!regex1.test(raw_number)) {
                    // $("#subsub").disabled = true;
                    //invalid
                    alert("Invalid Phone Number. Please enter valid US Local(7 digit)/Domestic(10 Digit) phone number");
                    return false;
                } else {
                    //$("#subsub").disabled = false;
                    //alert("true");
                    return true;
                }

            }
            function ajaxcall(pageno, phoneno) {
                //var pageno = $("#pageno").val();
                var url = window.location.href + "/page/" + pageno;
                //alert(url);
                $.ajax({
                    url: url,
                    data: {
                        number: phoneno
                    },
                    cache: false
                }).then(function (data) {

                    // alert(data.combination.toString());
                    //$('.greeting-id').html(data.totalPages);
                    //$('.greeting-content').html(data.totalCombos);
                    $('.greeting-combo').html(data.combination.toString());
                });

            }
            function clickEvent() {
                //alert("click");
                ajaxcall(1, $("#phno").text());
            }

            // <![CDATA[
            function checkPageno(currentPage) {
                var totalpages = parseInt($("#totalpages").text());

                if (currentPage <= 0 || currentPage > totalpages) {
                    alert("Please enter valid page no");
                    return false;
                } else {
                    return true;
                }

            }
            // ]]>
        </script>   
        <script>
            $(document).ready(function () {
                $("#pagenosubmit").click(function () {

                    var pageno = $("#pageno").val();
                    //var url = "http://localhost:8080/page/" + pageno;
                    if (checkPageno(pageno)) {
                        ajaxcall(pageno, $("#phno").text());
                    }
                });

                $("#Next").click(function () {

                    var pageno = parseInt($("#pageno").val()) + 1;
                    if (checkPageno(pageno)) {
                        $("#pageno").val(pageno);
                        ajaxcall(pageno, $("#phno").text());
                    }
                });
                $("#Previous").click(function () {

                    var pageno = parseInt($("#pageno").val()) - 1;
                    if (checkPageno(pageno)) {
                        $("#pageno").val(pageno);
                        ajaxcall(pageno, $("#phno").text());
                    }
                });
            });
        </script>
    </head>
    <body>
        <h1>HOME</h1>
        <a th:href="${loginUrl}" th:if="${loginUrl}">Login</a>
        <a th:href="${logoutUrl}" th:if="${logoutUrl}">Logout</a>

        <form th:action="@{/}" method="post" id="myform" onsubmit="return callcall()">

            <input type="number" id="number" name="number" th:if="${username}" />

            <input type="submit" value="Submit" th:if="${username}"/>
        </form>



        <span th:if="${number}">

            <p>Phone Number :<span id="phno" th:text="${number}"></span>
            </p><p>Total possible alpha-numeric Combination: <span th:text="${totalCombos}"></span>
            </p>
            <a id="Previous">Previous</a>
            <input style="width:70px " type="number" th:value="1" id="pageno" th:if="${totalCombos}"/> / 
            <span id="totalpages" th:text="${totalPages}" ></span>page(s)
            <input type="submit" id="pagenosubmit" th:if="${totalCombos}"/>
            <a id="Next" th:if="${totalCombos}">Next</a>

            <div style="width:450px;overflow:hidden">
                Combinations:
                <div style="width: 600px ; height:300px ; left:0 ;position: absolute; word-wrap: break-word ;overflow:scroll ;border: 1px solid black" class="greeting-combo"> </div>
            </div>
            <script>
                clickEvent();
            </script>
        </span>

        <!--span th:text="${letterCombinations}"></span-->


    </body>
</html>